{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <div class="flex justify-between w-full md:w-auto">
    <div class="flex items-center">
      {% if site_logo %}
          <a href="{{ path('<front>') }}" rel="home" class="pr-2">
          <img src="{{ site_logo }}" alt="{{ site_name }} {{ 'Logo'|t }}" class="w-8" />
          </a>
      {% endif %}
      {% if site_name %}
          <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
      {% endif %}
      {{ site_slogan }}
    </div>

    <div class="md:hidden">
      <button class="hamburger hamburger--squeeze" type="button"
      @click="expand_header = !expand_header" :class="{'is-active': expand_header}"
      aria-label="Toggle Menu" aria-controls="navbarSupportedContent" :aria-expanded="expand_header">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
{% endblock %}
